.products {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 95%;
}

.menuCard:hover {
 background-color: #d3d3d3;
}

#menuCard {
  background-color: #bbbec7;
}

.footer {
  background-color: rgba(42, 163, 153, 0.342);
  display: flex;
  justify-content:space-between;
  position: fixed;
  bottom: 0;
}

.containerBtn {
  display: flex;
  justify-content: space-around;
}

.button {
  width: 6em;
}

.loginContainer {
  margin-top: 7%;
}