.products {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 95%;
}

.menuCard:hover {
 background-color: #d3d3d3;
}

#menuCard {
  background-color: #bbbec7;
}

.cartBtn {
  bottom: 0;
  padding: 10px;
  position: fixed;
  right: 8%;
}